{% extends 'main/layout/base.html' %}
{% load static %}
 
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}

{% block title %}Zarejestruj się{% endblock %}
 
 {% block content%}
 <div class="d-flex align-items-center justify-content-center px-4" style="height: 80vh">
     <div style="max-width: 500px" class="w-100">
         <h1>Rejestracja</h1>
         <form method="POST" action="/register">
             {% csrf_token %}
 
             <div class="mb-3">
               <label for="username" class="form-label">Nazwa użytkownika</label>
               <input type="text" class="form-control" id="username" name="username" aria-describedby="username" required>
             </div>
 
             <div class="mb-3">
               <label for="email" class="form-label">Email address</label>
               <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
             </div>
 
             <div class="mb-3">
               <label for="password" class="form-label">Hasło</label>
               <input type="password" class="form-control" id="password" name="password" required>
             </div>
 
             <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
           </form>
     </div>
 </div>
 
 {% endblock %}